body {
	background-image: url("../469817-rainbow-clouds-on-the-sky.jpg");
	background-size: cover;
	font-family: Parkavenue, cursive;
}

.wrapper {
	text-align: center;
	padding: 20px;
	width: 50%;
	height: auto;
	background-color: white;
	margin: 100px auto;
	opacity: .8;
}

.solutionFahrenheit, .solutionCelsius {
	color: blue;
}