html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0 0 80px;
    padding: 0px;

}

.custom {
    cursor: url("../img/star-20.png"), auto;
}

/*header + nav*/

header {
    position: relative;
    width: 100%;
}

.hidden-header {
    display: none;
}

a:hover {
    color: #8E6D85;
    cursor: url("../img/star-20.png"), auto;
}

h1:hover {
    color: #8E6D85;
    cursor: url("../img/star-20.png"), auto;
}

.crystal {
    position: absolute;
    left: 45%;
    height: 75px;
    margin-top: 10px;
}

header a {
    color: #F19FAA;
    text-decoration: none;
    margin: 5px;
}

header.clone {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    color: #F19FAA;
    transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
}

body.down header.clone {
    top: 0;
}

.page-header {
	font-family: 'Pacifico', cursive;
    box-sizing: content-box;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #F19FAA;
    float: left;
    padding-left: 10px;
}

nav {
    float: right;
    display: inline-block;
    padding-top: 30px;
    padding-right: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.nav-focus {
    text-decoration: underline;
}

/*wrapper + content*/

.wrapper {
    min-height: 100%;
    margin-bottom: -80px;
    padding-bottom: 80px;
}

/*parallax*/

.parallax { 
    position: relative;

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-image: url("../img/intro_1.jpg");
}

.one {
    background-image: url("../img/eyebrow_medley.jpg");
}

.two {
    background-image: url("../img/mascara_medley.jpg");
}

.three {
    background-image: url("../img/skincare_medley.jpg");
}

.four {
    background-image: url("../img/lip_medley.jpg");
}

.five {
    background-image: url("../img/hair_medley.jpg");
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #A7E4D9;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  cursor: url("../img/heart20.png"), auto;
}

.caption span.border {
  background-color: rgba(51, 40, 57, .7);
  padding: 20px;
  cursor: url("../img/heart20.png"), auto;
}

/*footer + logos*/

footer {
    text-align: center;
    background-color: #F19FAA;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}

footer:hover {
    cursor: url("../img/star-20.png"), auto;
}

.footer_image {
    height: 50px;
}

.footer_image:hover {
    cursor: url("../img/star-20.png"), auto;
}

.youtube {
    height: 70px;
}

.instagram {
    height: 70px;
    padding-right: 20px;
}

.birchbox {
    height: 30px;
    margin-bottom: 20px;
}

.cosmopolitan {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.refinery29 {
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.instyle {
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
}

/*secondary pages*/

section {
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;    
}

.article {
    padding: 25px;
    margin: 25px;
    border: 2px solid #F19FAA;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}

.article:hover {
    background-color: #A7E4D9;
    cursor: url("../img/heart20.png"), auto;
}

.article-image {
    margin-top: 10px;
}

.secondary-a {
    text-decoration: none;
}

.secondary-footer {
    display: inline-block;
    padding-top: 10px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.back {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #F19FAA;
    float: right;
    padding-bottom: 100px;
}

.back:hover {
    color: #8E6D85;
}

.readers {
    margin-bottom: 5px;
}

.vogue {
    margin-bottom: 5px;
    margin-left: 10px;
}

.popsugar {
    height: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.fader {
    margin-bottom: 5px;
}

.bustle {
    margin-bottom: 10px;
}

.birchbox2 {
    height: 30px;
    margin-bottom: 10px;
}

.instyle2 {
    margin-top: 5px;
}

.e {
    margin-bottom: 5px;
}

.allure {
    height: 40px;
    margin-bottom: 10px;
}

.wh {
    height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.today {
    margin-right: 10px;
}

.us {
    margin-right: 10px;
}

.hb {
    margin-right: 10px;

}

/*Salvatorre*/

#grid[data-columns]::before {
    content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { 
    float: left; 
}

.size-1of3 { 
    width: 33.333%; 
}

/*media queries for Salvatorre*/

@media screen and (max-width: 480px){
    #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}
@media screen and (min-width: 769px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
